body {
  margin: 0;
  height: 80vh;
  font-size: 26px;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
}

.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg=='); 
  cursor: col-resize;
}
 
.gutter.gutter-vertical {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
  cursor: row-resize;
}

.search-bar {
  position: absolute;
  top: 0;
  right: 20px;
}
.search-bar input {
  height: 25px;
  width: 250px;
  padding-left: 10px;
}

#search-button {
  background: none;
  border: none;
  border-left: 1px solid #ccc;
}

.clear-button {
  position: absolute;
  top: 60%;
  right: 45px;
  transform: translateY(-60%);
  padding-left: 10px;
  background: none;
  border: none;
  display: none;
}

.search-icon {
  position: absolute;
  top: 60%;
  right: 8px;
  padding-left: 10px;
  transform: translateY(-60%);
  background-size: cover;
  cursor: pointer;
  font-size: 16px;
}
.ui-autocomplete {
  max-height: auto;
  width: 21px;
  overflow-x: hidden;
  padding: 0 5px;
  background-color: #fff;
  border-radius: 4px;
}
.ui-autocomplete .ui-menu-item {
  font-size: 12px;
  cursor: default;
}
.ui-autocomplete .highlight {
  font-weight: bold;
}

@media only screen and (orientation: landscape) {
  .cell {
    height: 100% !important;
  }
  .content {
    flex-direction: row;    
  }  
  .gutter {
    cursor: e-resize;      
  }  
}

@media only screen and (orientation: portrait) {
  .cell {
    width: 100% !important;
  }  
  .content {
    flex-direction: column;
  }
  .gutter {
    cursor: s-resize;
  }    
}