* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}
  span.city {
    color: rgba(255, 255, 255, 0.95);
  }
  .country:hover {
    stroke: #fff;
    stroke-width: 1.5px;
  }
  .text {
    font-size: 10px;
    text-transform: capitalize;
  }
  #container {
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 2px;
    height: 100%;
    overflow: hidden;
    background: #fff;
  }
  .hidden {
    display: none;
  }
  div.tooltip {
    color: #222;
    background: #fff;
    padding: 0.5em;
    text-shadow: #f5f5f5 0 1px 0;
    border-radius: 2px;
    box-shadow: 0px 0px 2px 0px #a6a6a6;
    opacity: 0.9;
    position: absolute;
  }
  .graticule {
    fill: none;
    stroke: #8f8f8f;
    stroke-width: 0.5px;
    stroke-opacity: 0.5;
  }
  .equator {
    stroke: #ccc;
    stroke-width: 1px;
  }
.card-popup {
  background-color: #fff;
  width: 20%;
  height: 20%;
}